ul {
  padding-left: 0;
}

$background-color: #fff;
$border-color: #e8e8e8;
$muted-color: #777879;

li {
  background-color: $background-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  list-style-type: none;
  margin-bottom: .25em;
  padding: 1em;
  text-align: left;
  position: relative;
  top: 2.5em;
}

.created {
  color: $muted-color;
  font-size: 14px;
}

.archive {
  position: absolute;
  margin-right: 1em;
  vertical-align: middle;
  right: 1em;
  top: 2.5em;
}
